{% extends 'layout.html' %}

{% block scripts %}
	<script type='text/javascript' src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js'></script>
	<script type='text/javascript' src='http://cdn3.devexpress.com/jslib/13.1.5/js/dx.chartjs.js'></script>

	<script type='text/javascript' src='{{ url_for('static', filename='javascripts/autocomplete.js') }}'></script>
	<script type='text/javascript' src='{{ url_for('static', filename='javascripts/chart.js') }}'></script>
{% endblock %}

{% block body %}
	<h1>Comparador de performance de escolas no Enem</h1>
	
	<br />
  <label for='school'>Área: </label>
	<!-- TODO: Fetch data from server (API still missing). -->
  <select id='enem_subject' data-bind='value: enemSubject'>
		<option value='NAT'>Ciências da Natureza</value>
		<option value='HUM'>Ciências Humanas</value>
		<option value='MAT'>Matemática</value>
		<option value='LIN'>Linguagens e Códigos</value>
	</select>
	<br />

  <label for='school'>Ano: </label>
	<!-- TODO: Fetch data from server (API still missing). -->
  <select id='year' data-bind='value: year'>
		<option value='2011'>2011</value>
	</select>
	<br />
	<br />

	<div class='ui-widget'>
	  <label for='school'>Escola: </label>
	  <input id='school' size='50' placeholder='Selecione uma escola' />
	</div>

	<br />
	<div id='chartContainer' style='max-width:800px;height: 400px; display: none;' data-bind='dxChart: { chartOptions }'></div>
{% endblock %}
