{% extends 'layout.html' %}

{% block scripts %}
  <script type='text/javascript' src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js'></script>
  <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js'></script>
  <script type='text/javascript' src='http://cdn3.devexpress.com/jslib/13.1.5/js/dx.chartjs.js'></script>

  <script type='text/javascript' src='{{ url_for('static', filename='javascripts/application.js') }}'></script>
{% endblock %}

{% block body %}
  <h1>Comparador de performance de escolas no Enem</h1>
  
  <br />
  <div id='enem-subject-container' class='ui-widget'>
    <label for='enem_subject'>Disciplina: </label>
    <select id='enem_subject' data-bind='value: enemSubject'>
      {% for es in enem_subjects %}
        <option value='{{ es[0] }}'>{{ es[1] }}</value>
      {% endfor %}
    </select>
  </div>

  <div id='year-container'class='ui-widget'>
    <label for='year'>Ano: </label>
    <select id='year' data-bind='value: year'>
      {% for y in years %}
        <option value='{{ y }}'>{{ y }}</value>
      {% endfor %}
    </select>
  </div>

  <div id='state-container' class='ui-widget'>
    <label for='state'>Estado: </label>
    <select id='state' data-bind='value: state'>
      <option value=''>Selecione</value>
      {% for s in states %}
        <option value='{{ s.state }}'>{{ s.state }}</value>
      {% endfor %}
    </select>
  </div>

  <div id='city-container' class='ui-widget' data-bind='fadeVisible: state'>
    <label for='city'>Cidade: </label>
    <input id='city' size='40' placeholder='Digite o nome de uma cidade' />
  </div>

  <div id='school-container' class='ui-widget' data-bind='fadeVisible: autocomplete.city.id'>
    <label for='school'>Escola: </label>
    <input id='school' size='40' placeholder='Digite o nome de uma escola' />
  </div>

  <br />
  <div id='chart-container' data-bind='fadeVisible: autocomplete.school.id'>
    <div id='chart' style='max-width: 800px; height: 400px;' data-bind='dxChart: { chart.options }'></div>
  </div>
{% endblock %}
